Makefile
Makefile.in
autom4te.cache
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
build*
.*.swp
Debug/
*.o
lib*.a
cmake_install.cmake
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_uninstall.cmake
CTestTestfile.cmake
sounds/midi
sounds/mid
.kdev4
*.kdev4

