Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
depcomp
INSTALL
install-sh
ltmain.sh
missing
build*
.*.swp
Debug/
*.o
lib*.a
cmake_install.cmake
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_uninstall.cmake
CTestTestfile.cmake
.kdev4
*.kdev4
*.orig
src/copyright.h
debian/ChangeLog.gz
*~
